{% extends 'base.html.twig' %}

{% block title %}AboutUs index{% endblock %}

{% block body %}
    <h1>AboutUs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture1</th>
                <th>Information</th>
                <th>Picture2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about_u in aboutuses %}
            <tr>
                <td>{{ about_u.id }}</td>
                <td>{{ about_u.picture1 }}</td>
                <td>{{ about_u.information }}</td>
                <td>{{ about_u.picture2 }}</td>
                <td>
                    <a href="{{ path('about_us_show', {'id': about_u.id}) }}">show</a>
                    <a href="{{ path('about_us_edit', {'id': about_u.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
